python-dotenv
groq
elevenlabs
appopener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere
googlesearch-python
pygame
edge-tts
PyQt5
webdriver-manager
selenium
mtranslate
opencv-python
face-recognition
speechrecognition
pyaudio